@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Oxygen:wght@300;400;700&display=swap');

body {
    color: black;
    font-family: "Oxygen", sans-serif;
}

/* Navigation Pane */
.navbar {
    background-color: #3A86FF;
}

.navbar .navbar-brand {
    font-size: 3rem;
    font-weight: 700;
    color: #F6C604;
    line-height: 3rem;
    font-family: "Josefin Sans", sans-serif;
}

.navbar .navbar-brand:hover {
    color: #F6C604;
}

.navbar-default .navbar-nav>li>a {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    background-color: #3A86FF;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
    
}

.navbar-default .navbar-nav>.active>a {
    background-color: #3A86FF;
    color: white;
    text-decoration: underline;
}

.navbar-default .navbar-nav>.active>a:focus {
    background-color: #3A86FF;
    color: white;
    text-decoration: underline;
}

.navbar-default .navbar-nav>.active>a:hover {
    background-color: #3A86FF;
    color: white;
    text-decoration: underline;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin: 0 30px;
}

a {
    color: #002766;
}

/* Input Tab */
[id$='1'] .well {
    /* background-color: #F9C74F; */
    background-color: #FEF6D7;
    color: black;
    border: none;
    /* border: 2px solid #F6C604; */
    /* background-color: white; */
    width: 100%;
}

[id$='1'] .well h4{
    font-weight: 700;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}

[id$='1'] hr {
    border-top: 2px solid #002766;
}

div #sidebar {
    /* background-color: #8338EC; */
    background: #B98FF5;
    padding: 10px;
    border-radius: 5px;
    /* color: white; */
    color: black;
    border: 2px solid #1B0637;
    text-align: left;
}

.form-control {
    border: 1px solid #454545;
}

div #sidebar hr {
    border-top: 2px solid white;
}

div #sidebar h3 {
    color: #2C095D;
}

#reset {
    width: 100%;
    background-color: #D1E2FF;
    /* background-color: #FF006E; */
    /* color: white; */
    height: 40px;
    font-size: 1.5rem;
    margin-left: -30px;
    border: 1px solid #454545;
    /* border: 1px solid #8F003E; */
}

#run {
    width: 100%;
    background-color: #90BE6D;
    color: black;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: -30px;
    /* border: 1px solid #44632C; */
    border: 1px solid #454545;
}
#run:hover {
    width: 100%;
    background-color: #90BE6D;
    color: black;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: -30px;
    border: 1px solid #44632C;
}

#panels .panel-title {
    color: white;
}

#panels {
    margin: 0;
}

i {
    color: white;
}

#panels h3 {
    height: 20px;
}

#panels .panel-heading {
    background-color: #3A86FF;
    border-color: #3A86FF;
    border: 1px solid #00173D;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #002766;
}

.shiny-input-container:not(.shiny-input-container-inline) {
    width: 100%;
}

#update {
    text-align: center;
    font-weight: 700;
    display: block;
}

/* Output Panel */
div #outbar {
    margin: 20px;
    font-weight: 700;
}

#downloadReport {
    background-color: #FB5607;
    color: white;
    width: 20%;
}

#mod-info .well {
    margin-top: 500px;
}

/* About Panel */
div #about {
    margin: 0 20px;
}
